<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ChapterHub</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <platform name="android">
        <icon src="reso/ldpi.png" density="ldpi" />
        <icon src="reso/mdpi.png" density="mdpi" />
        <icon src="reso/hdpi.png" density="hdpi" />
        <icon src="reso/xhdpi.png" density="xhdpi" />
        <icon src="reso/xxhdpi.png" density="xxhdpi" />
        <icon src="reso/xxxhdpi.png" density="xxxhdpi" />
    </platform>
</widget>
